@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* Null Styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ==============  */

.wrapper {
  min-height: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 600px;
  display: flex;
  border-radius: 10px;
  background-color: #fff;
}

.card__img {
  flex: 1 0 50%;
}

.card__img img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.card__info {
  flex: 1 1 50%;
  padding: 32px;
}

.card__title {
  color: #6c7289;
  font-size: 0.85rem;
  letter-spacing: 0.35em;
  margin-bottom: 20px;
  font-weight: 500;
}

.card__product-name {
  font-size: 2.28rem;
  font-weight: 700;
  font-family: 'Fraunces', sans-serif;
  margin-bottom: 24px;
  color: #1c232b;
}

.card__text {
  color: #6c7289;
  font-weight: 500;
  line-height: 1.64;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 29px;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 30px;
}

.price {
}

.price__new {
  font-family: 'Fraunces', sans-serif;
  color: #3d8168;
  font-size: 2.28rem;
  font-weight: 700;
}

.price__old {
  color: #6c7289;
  font-size: 1.07rem;
  text-decoration: line-through;
}

.card__add-to-cart {
  background-color: #3d8168;
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 8px;
  padding: 15px 0 15px 0;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card__add-to-cart:hover {
  background-color: #1a4032;
}

.card__add-to-cart::before {
  content: '';
  background: url('./images/icon-cart.svg') no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 20%;
  top: 30%;
}

@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    max-width: 345px;
    margin: 26px 16px;
  }

  .card__img {
    flex: 1 1 20%;
  }

  .card__img img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
    height: 240px;
  }
}
